html,
body {
    height: 100%;
}

.breadcrumb {
    font-size: 1.5em;
    margin-bottom: 0;
}

.chart-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.span-lg {
    font-size: 1.5em;
}
.input-row {
    margin-top: 15px;
}
.top-margin {
    margin-top: 15px;
}

/* #type-selection { */
/*     height: 3em; */
/*     width: 100%; */
/*     font-size: 6em; */
/* } */

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #F07575; /* fallback color if gradients are not supported */
    background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /* For Chrome and Safari */
    background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Fx (3.6 to 15) */
    background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); /* For pre-releases of IE 10*/
    background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Opera (11.1 to 12.0) */
    background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4); /* Standard syntax; must be last */
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); */
    /* color: ; */
    font-size: 2em;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* width: 50%; */
}

.value-badge {
    font-size: 2em;
}
