html,
body {
    height: 100%;
}

.breadcrumb {
    font-size: 1.5em;
}

.chart-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.span-lg {
    font-size: 1.5em;
}
.input-row {
    margin-top: 15px;
}
.top-margin {
    margin-top: 15px;
}
